<div class="row">

  {% for contact in site.data.contacts %}

<div class="col-md-4" markdown="1">
  <img src="/assets/img/contact/{{ contact.picture }}" alt="Picture of {{ contact.name }}"
    style="max-width: 200px; border-radius: 50%; border: 1px dashed rgb(67, 53, 192);"  >
  <br>
  <b style="color: blue;">{{ contact.name }}</b>
  <br>
  <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
  <br>
  {{ contact.position }}
  <br>
  {{ contact.company }}
</div>

{% endfor %}

</div>

<div class="row">
<div class="col-md-12" markdown="2">
<small>A programba már bevont iskolák kérjük keressék kijelölt önkéntes mentorukat, vagy az iskolában kijelölt belső kapcsolattartót!</small>
</div>
</div>

<br>

<div class="row">
<div class="col-md-4" markdown="1">
<img src="/assets/img/t-systems_logo.png" alt="T-Systems">
</div>
<div class="col-md-8" markdown="1">
<h2>Telefonos hotline</h2>
</div>
<div class="col-md-12" markdown="2">
Hétköznap 8-tól 16 óráig, helyi tarifával hívható telefonszám:
</div>
<div class="col-md-12" markdown="2">
<small>(Amennyiben a fenti kapcsolatokon kívül gyors segítségre van szüksége.)</small>
</div>
<div class="col-md-12" markdown="2">
<strong><large>
  <a href="tel:+36-1-470-6550">+36 (1) 470-6550</a>
</large></strong>
</div>
<div class="col-md-12" markdown="2">
<small>(A nyitvatartási kívül automata szövegbemondás tájékoztatja a betelefonálót, hogy mikor tudjuk fogadni a hívását.)</small>
</div>
</div>
